.register-wrapper {
    margin-bottom: 50px;
}

div>.title {
    text-align: center;
}

#register_form {
    width: fit-content;
    margin: auto;
}

.input_itm {
    width: 250px;
    padding: 10px 0;
    display: block;
}

.input_itm>input {
    display: inline-block;
    width: 100%;
    height: 40px;
    padding: 10px;
}

#register_form input[type=button] {
    margin-top: 5px;
}