#login_form{
    width: fit-content;
    margin: auto;
}

#id_username{
    font-size: 15px;
    width: 250px;
    height: 45px;
    padding: 10px;
    display: block;
    margin-bottom: 20px;
}

#id_password{
    font-size: 15px;
    width: 250px;
    height: 45px;
    padding: 10px;
    display: block;
    margin-bottom: 20px;
}

.form_submit{
    cursor: pointer;
    width: 250px;
    height: 45px;
    font-size: 20px;
    transition: all .2s;
}

.form_submit:hover{
    background-color: var(--BG);
    color: #fff;
}

.form_info{
    width: 250px;
    /* padding: 10px; */
    text-align: center;
    margin: auto;
}

.form-create{
    display: block;
    width: 250px;
    height: 45px;
    font-size: 20px;
    line-height: 50px;
    background-color: var(--BG);
    color: #fff;
}