{% extends 'index.html' %}

{% block title %}회원가입 완료{% endblock title %}

{% block content %}
<div>
    <div>
        <div>
            <div>
                <h3>회원가입이 완료되었습니다.</h3>
                <h3>PROJECT의 회원이 되신것을 축하합니다.</h3>
            </div>
        </div>
        <div>
            <div>
                <input type="button" value="로그인" onclick="location.href='{% url 'account:login' %}'">
                <input type="button" value="메인화면" onclick="location.href='{% url 'main:index' %}'">
            </div>
        </div>
    </div>
</div>
{% endblock content %}