{% extends 'base.html' %}
{% load static %}
{% block title %}PROJECT 회원가입{% endblock %}

{% block script %}
{% load static %}
{% endblock script %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/account/create.css' %}" >
<script src = "{% static 'js/user.js' %}"></script>
<div class="register-wrapper">

    <form id="register_form" action="{% url 'accountapp:create' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="phone" id="phone" value="">
        <input type="hidden" name="email" id="email" value="">
        
        <div>
            <h2 class="title">회원가입</h2>
        </div>

        <div class="input_itm itm-id">
            <div class="itm-title">아이디:</div>
            <input type="text" name="username" id="username" placeholder="ID" value="">
            <input type="button" value="중복확인" onclick="idCheck()">
            <span id="idcheck-result"></span>
        </div>

        <div class="input_itm itm-pwd">
            <div class="itm-title">비밀번호::</div>
            <input type="password" name="password" id="password" placeholder="PASSWORD" value="">
            <span style="font-size: 0.7em">
                * 비밀번호는 최소 8글자 이상 입력해 주셔야 합니다.
            </span>
        </div>

        <div class="input_itm itm-pwdchk">
            <div class="itm-title">비밀번호 확인:</div>
            <input type="password" name="passwordcheck" id="passwordcheck" placeholder="PASSWORD CHECK" value="">
        </div>

        <div class="input_itm itm-name">
            <div class="itm-title">이름:</div>
            <input type="text" name="realname" id="realname" placeholder="NAME" value="">
        </div>

        <div class="input_itm itm-email">
            <div class="itm-title">이메일:</div>
            <input type="text" name="email_id" id="email_id" placeholder="email@project.com" value="">
            {% comment %} @<input type="text" name="email_domain" id="email_domain" placeholder="@EMAIL.COM" value=""> {% endcomment %}
            {% comment %} <select id="email_selection" onchange="changeEmailDomain()">
                <option value="" selected="selected">--선택하세요--</option>
                <option value="naver.com">naver.com</option>
                <option value="gmail.com">gmail.com</option>
                <option value="daum.net">daum.net</option>
            </select> {% endcomment %}
        </div>

        <div class="input_itm itm-phone">
            <div class="itm-title">전화번호:</div>
            <input type="text" id="phone-input" value=""> 
            <!-- <input type="text" id="phone2" value=""> - 
            <input type="text" id="phone3" value=""> -->
        </div>

        <div class="input_itm itm-date">
            <div class="itm-title">생년월일:</div>
            <input type="date" id="birth" name="date_of_birth">
        </div>

        <input class="input_itm itm-create" type="button" value="회원가입" onclick="UserRegister()">
        <input class="input_itm itm-cancel" type="button" value="취소" onclick="cancleUserRegister()">
        
    </form>
</div>

{% endblock %}

