{% extends 'base.html' %}

{% block title %}PROJECT Login{% endblock title %}

{% load static %}

{% block content %}
{% if form.errors %}
    <script>alert("ID와 비밀번호를 올바르게 입력해 주시기 바랍니다");</script>
{% endif %}
<div>

<div>
    <div>
        <script src = "{% static 'js/login.js' %}"></script>
        <form id="login_form" action="." method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class=" ">
        </form>
    </div>
    <div>
        <h4>아이디가 없으신가요? 회원가입을 해 주시기 바랍니다.</h4>
        <a href="{% url 'accountapp:create' %}">가입</a>
    </div>

</div>
</div>

{% endblock content %}