{% extends 'base.html' %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <label>소개 : </label>
    <input type="text" name="description" value="{{ profile.description|default_if_none:'' }}">
    <br><label>깃허브 주소 : </label>
    <input type="text" name="githubURL" value="{{ profile.github|default_if_none:'' }}">
    <br><label>블로그 주소 : </label>
    <input type="text" name="blogURL" value="{{ profile.blog|default_if_none:'' }}">
    <input type="submit" value="수정">
</form>
{% endblock content %}