
.test-image{
    background-image: url("../img/test.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 500px;
}

.main{
    height: 100vh;
    z-index: 0;
    /* background-image: url("../img/jieun.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#lottie{
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: multiply;
}


/* INFO TAB */
.info-wrapper{
    overflow: hidden;
    width: 100%;
}

.info_tab{
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 200px;
    top: 300px;
    opacity: 0%;
    transition: all 1s;
}

.info_tab > .title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.info_tab > .info{
    display: block;
    font-size: 15px;
    width: 80%;
    margin: auto;
}

/* DO-LIST */
.doList-wrapper{
    padding: 100px 0px;
}

.doList-inner{
    width: 100%;
    overflow: hidden;
}

.doList-title{
    font-size: 50px;
    margin-bottom: 50pxs;
}

.doList{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.doList-itm{
    position: relative;
    width: 80%;
    height: 300px;
    margin: 20px;
    /* background-image: url('../img/test.jpg'); */
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    opacity: 0%;
    left: 500px;
    transition: all .5s;
}
.doList-itm.scrollActive{
    left: 0%; opacity: 100%;
}

.doList-itm_wrapper{
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 100%;
    height: 300px;
    backdrop-filter: blur(10px);transition: all .4s;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgba(68, 68, 68, 0.5);
}.doList-itm_wrapper:hover{
    opacity: 0%;
}
.doList-itm_wrapper > h1{
    font-size: 30px;
}
.doList-itm_wrapper > p{
    margin: auto;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0;
    width: 80%;
}

/* FOOTER */
.footer{
    width: 100%;
    height: 300px;
    background-color: rgb(243, 243, 243);
}