
.test-image{
    background-image: url("../img/test.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 500px;
}

.main{
    height: 100vh;
    z-index: 0;
    /* background-color: #000; */
}

/* NAV BAR */
.navTab{
    width: 30px;
    height: 30px;
    background-color: #000;
    float: right;
    margin-left: 5%;
    margin: 10px;
    display: none;
}

.navBar{
    overflow: hidden;
    position: relative;
    z-index: 10;
    width: 100%;
    height: 80px;
    display: inline-block;
    top: -90px;
    transition: top .5s;
}
.navBar.sticky{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    /* box-shadow: 0px 3px 5px rgba(65, 65, 65, 0.308); */
}

.logo{
    image-rendering: crisp-edges;
    /* background-image: url("../logo.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: content-box;
    /* width: 50px; */
    /* height: 50px; */
    float: left;
    font-size: 30px;
    font-weight: bold;
    line-height: 80px;
    /* margin-top: 15px; */
    margin-left: 10%;
}

.navList{
    overflow: hidden;
    width: fit-content;
    float: right;
    margin-right: 10%;
}
.navList-itm{
    margin: 0px 10px;
    line-height: 80px;
    color: #000;
}

#lottie{
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* INFO TAB */
.info-wrapper{
    overflow: hidden;
    width: 100%;
}

.info_tab{
    position: relative;
    width: 100%;
    height: 500px;
    padding-top: 50px;
    top: 300px;
    opacity: 0%;
    transition: all 1s;
}

.info_tab > .title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.info_tab > .info{
    display: block;
    font-size: 15px;
    width: 80%;
    margin: auto;
}

/* DO-LIST */
.doList-wrapper{
    padding: 100px 0px;
}

.doList-inner{
    width: 100%;
    overflow: hidden;
}

.doList-title{
    font-size: 50px;
    margin-bottom: 50pxs;
}

.doList{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.doList-itm{
    position: relative;
    width: 80%;
    height: 300px;
    margin: 20px;
    /* background-image: url('../img/test.jpg'); */
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    opacity: 0%;
    left: 500px;
    transition: all .5s;
}

.doList-itm_wrapper{
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 100%;
    height: 300px;
    backdrop-filter: blur(10px);transition: all .4s;
    color: #fff;
}.doList-itm_wrapper:hover{
    opacity: 0%;
}
.doList-itm_wrapper > h1{
    font-size: 30px;
}
.doList-itm_wrapper > p{
    margin: auto;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0;
    width: 80%;
}


/* FOOTER */
.footer{
    width: 100%;
    height: 300px;
    background-color: rgb(243, 243, 243);
}

@media screen and (max-width: 900px) {
    .navTab{
        display: block;
    }

    .navBar{
        height: 50px;
    }

    .navList{
        display: none;
    }

    .logo{
        float: left;
        margin: 0;
        margin-left: 5%;  
        line-height: 50px;
        font-size: 25px;
    }
}
