body{
    padding-top: 80px;
}

.test-image{
    background-image: url("../img/test.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 500px;
}

.main{
    height: 100vh;
    z-index: 0;
    /* background-image: url("../img/jieun.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#lottie{
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: multiply;
}


/* INFO TAB */
.info-wrapper{
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.info_tab{
    position: relative;
    width: 100%;
    /* height: 300px; */
    /* margin-top: 200px; */
    /* top: 300px; */
    padding: 100px 0;
    /* opacity: 0%; */
    transition: all 1s;
}

.info_tab > .title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.info_tab > .info{
    display: block;
    font-size: 15px;
    width: 80%;
    margin: auto;
}

/* DO-LIST */
.doList-wrapper{
    padding: 100px 0px;
}

.doList-inner{
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.doList-title{
    font-size: 50px;
    margin-bottom: 50px;
}

.doList{
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    margin: auto;
    padding: 2%;
    /* display: flex; */
    /* justify-content: center; */
}

.doList-itm{
    position: relative;
    /* width: 409px; */
    margin: 20px;
    padding: 10px;
    box-shadow: 2px 2px 8px rgba(83, 83, 83, 0.3);
    opacity: 20%;
    transition: all .5s;
}
.doList-itm.centOn{
    opacity: 100%;
}


.doList-itm_img{
    width: 100%;
    padding-bottom: 100%;
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

@media screen and (max-width: 1000px) {
    .doList-itm{
        opacity: 100%;
    }
}