:root {
    --BG: rgb(51, 51, 51);
    --light: rgb(51, 106, 196);
    --warn: rgb(196, 51, 51);
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'GmarketSansMedium';
    box-sizing: border-box;
    outline: none;
    border-collapse: collapse;
    /* vertical-align: top; */
    border-radius: 0;
    /* color: var(--BG); */
}

body, table, tbody, td, th, tr, p, a, h1, ul, li, input, button{
    padding: 0;
    margin: 0;
    vertical-align: top;
    /* text-align: center; */
    text-decoration: none;
    list-style: none;
}

body, tbody{
    cursor: default;
}

button, input[type=submit], input[type=button]{
    border: none;
}

/* input[type=text]{border: 1px solid var(--BG);} */
/* input[type=textarea]{border: 1px solid var(--BG);} */

body{
    padding-top: 80px !important;
}

.container{
    position: relative;
    z-index: 0;
    padding: 0 10%;
}


@media screen and (max-width: 900px){
    .container{
        padding: 0 5%;
    }

    body{
        padding-top: 50px !important;
    }
    
}