{% load static %}
<link rel="stylesheet" href="{% static 'css/banner/mainBanner.css' %}">

<article class="mainBanner" style="background: url('{% static 'img/test.jpg' %}');">
    <div class="mainBanner-inner">

        <div class="mainBanner_text">
            <div class="mainBanner_text-inner">

                <div class="mainBanner_text-itm">
                    <h2>Title1</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias sapiente impedit voluptates veritatis
                        deserunt, eveniet possimus fugit? Non quidem nulla dolore a laudantium pariatur eum nobis consequuntur
                        nostrum, aliquid explicabo.
                    </p>
                </div>
    
                <div class="mainBanner_text-itm">
                    <h2>Title2</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias sapiente impedit voluptates veritatis
                        deserunt, eveniet possimus fugit? Non quidem nulla dolore a laudantium pariatur eum nobis consequuntur
                        nostrum, aliquid explicabo.
                    </p>
                </div>

            </div>
        </div>

        <div class="mainBanner_img">
            <div class="mainBanner_img-inner">

                <div class="mainBanner_img-itm" style="background: url('{% static 'img/test.jpg' %}');"></div>
                
                <div class="mainBanner_img-itm" style="background: url('{% static 'img/none.jpg' %}');"></div>

            </div>    
        </div>
    
    </div>
</article>

<script src="{% static 'js/banner/mainBanner.js' %}"></script>