.mainBanner{
    box-sizing: border-box;
    width: 100%;
    height: 600px;
    overflow: hidden;
    transition: all .5s;
    padding: 10px;
}

.mainBanner-inner{
    font-size: 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #00000075;
    padding: 10px;
}

/* TEXT */
.mainBanner_text{
    display: inline-block;
    width: 30%;
    font-size: 15px;
    vertical-align: top;
    overflow: hidden;
    padding: 13% 0;
}

.mainBanner_text-inner{
    width: 500%;
    position: relative;
    font-size: 0;
    /* left: -100%; */
    transition: all .5s;
}

.mainBanner_text-itm{
    display: inline-block;
    font-size: 15px;
    width: 20%;
    padding: 0 2%;
    color: #fff;
}

.mainBanner_text-itm > h2{
    font-size: 50px;
    margin: 2% 0;
}

/* IMG */
.mainBanner_img{
    display: inline-block;
    width: 70%;
    font-size: 15px;
    overflow: hidden;
}

.mainBanner_img-inner{
    position: relative;
    width: 500%;
    font-size: 0;
    /* left: -100%; */
    transition: all .5s;
}

.mainBanner_img-itm{
    display: inline-block;
    width: 20%;
    padding-bottom: 560px;

    /* background-color: #000; */
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

@media screen and (max-width: 1100px) {
    .mainBanner{
        height: auto;
    }
    
    .mainBanner-inner {
        height: auto;
    }

    .mainBanner_text{
        width: 100%;
    }

    .mainBanner_img{
        width: 100%;
    }
    .mainBanner_img-itm{
        padding-bottom: 300px;
    }
}