/* NAV BAR */
.navTab{
    width: 30px;
    height: 30px;
    background-color: #000;
    float: right;
    margin-left: 5%;
    margin: 10px;
    display: none;
}

.navBar{
    overflow: hidden;
    position: relative;
    z-index: 10;
    width: 100%;
    height: 80px;
    display: inline-block;
    top: 0px;
    transition: top .5s;
}
.navBar.sticky{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    /* box-shadow: 0px 3px 5px rgba(65, 65, 65, 0.308); */
}

.logo{
    image-rendering: crisp-edges;
    /* background-image: url("../logo.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: content-box;
    /* width: 50px; */
    /* height: 50px; */
    float: left;
    font-size: 30px;
    font-weight: bold;
    line-height: 80px;
    /* margin-top: 15px; */
    margin-left: 10%;
}

.navList{
    overflow: hidden;
    width: fit-content;
    float: right;
    margin-right: 10%;
}
.navList-itm{
    display: inline-block;
    margin: 0px 10px;
    line-height: 80px;
    color: #000;
}

.navList-itm::after{
    position: relative;
    display: block;
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--BG);
    top: -30px;
    left: 50%;
    transition: all .3s;
}

.navList-itm:hover:after{
    width: 100%;
    left: 0;
}

@media screen and (max-width: 900px) {
    .navTab{
        display: block;
    }

    .navBar{
        height: 50px;
    }

    .navList{
        display: none;
    }

    .logo{
        float: left;
        margin: 0;
        margin-left: 5%;  
        line-height: 50px;
        font-size: 25px;
    }
}
