{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <title>PROJECT</title>
</head>
<body>

    {% block content %}
    {% endblock %}
    
    {% block script %}
    {% endblock script %}
    
</body>
</html>