{% extends 'index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/board/post_detail.css' %}">

<div class="detail-wrapper">

    <div class="detail-inner">

        <div class="detail_info">
            <h4 class="detail_info-category" style="opacity: 50%; margin: 0;">{{ post.category }}</h4>
            <h1 class="detail_info-title">{{post.title}}</h1>
            <div class="detail_info-mod">
                {% if request.user == post.author %}
                <a class="mod-edit" href="{% url 'board:post_modify' post.id %}">EDIT</a>
                <a class="mod-del" href="{% url 'board:post_delete' post.id %}">DELETE</a>
                {% endif %}
            </div>
            <div class="detail_info-profile">
                <a class="profile-user" href="{% url 'account:profile' post.author.username %}">
                    작성자: {{ post.author.username }}
                </a>    
                <div class="profile-date">작성일: {{ post.create_date }}</div>
                {% if post.modify_date %}
                <div class="profile-moday">수정일: {{ post.modify_date}}</div>
                {% endif %}
            </div>
            <hr class="divLine">
        </div>

        <div class="detail_main">
            {{ post.content | safe }}
        </div>

        <div class="detail_comment">
            <div class="detail_comment-inner">

                <h3 class="detail_comment-titles" style="margin: 0;">댓글</h3>
                <hr class="divLine">

                <div class="detail_comment-list">
                    <ul class="list-wrapper">
                        {% for comment in post.comment_set.all %}
                            <li class="list_itm">
                                <div class="list_itm-profile">
                                    <a class="profile-user" href="{% url 'account:profile' comment.author.username %}">{{ comment.author.username }}</a>
                                    <div class="profile-date">{{ comment.create_date }}</div>
                                    {% if post.modify_date == true %}
                                    <div class="profile-moday">{{ comment.modify_date}}</div>
                                    {% endif %}
                                    <div class="list_itm-mod">
                                        <a class="mod-edit" href="#">EDIT</a>
                                        <a class="mod-del" href="{% url 'board:comment_delete' comment.id %}">DELETE</a>
                                    </div>
                                </div>
                                <div class="comment">{{ comment.content }}</div>
                                <form class="mod_form" method="POST" action="{% url 'board:comment_modify' comment.id %}">
                                    {% csrf_token %}
                                    <input class="mod_form-text" name="content" type="text" >
                                    <input class="mod_form-submit" type="submit" value="SUBMIT">
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <hr class="divLine">

                <form class="comment_form" method="POST" action="{% url 'board:comment_create' post.id %}">
                    {% csrf_token %}
                    <input class="comment_form-text" name="content" type="textarea" >
                    <input class="comment_form-submit" type="submit" value="SUBMIT">
                </form>

            </div>

        </div>

    </div>
    
</div>
{% endblock %}