{% extends 'index.html' %}
{% load static %}

{% block script %}
<script src = "{% static 'js/board.js' %}"></script>
{% endblock script %}

{% block content %}
    <link rel="stylesheet" href="{% static '/css/board/create.css' %}">
    <div class="container__writeForm">
        <div class="write__wrapper">
            <form method="POST" enctype="multipart/form-data" onsubmit="return post();">
                <h1 class="TITLE">WRITE</h1>
            
                {% csrf_token %}
                <div class="opt-wrapper">
                    <input 
                        type="text" 
                        name="title" 
                        id="title" 
                        value="{{ post.title|default_if_none:'' }}"
                        placeholder="TITLE"
                    >
                    <input type="hidden" name="category" id="category" value="{% if post %}{{ post.category.name}}{% else %}-{% endif %}">
                    <select id="cateselect" onchange="selectCategory()">
                        <option selected value="{{ post.category.name|default_if_none:'-' }}">
                            {% if post %}
                            {{ post.category.name|default_if_none:'선택' }}
                            {% else %}
                            선택
                            {% endif %}
                        </option>
                        {% for cate in category %}
                            <option value="{{ cate.name }}">{{cate.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                
                {{ form.media }}
                {{ form.as_p }}
                
                <input class="write-submit" type="submit" value="저장">
            </form>
        </div>
    </div>
{% endblock %}