.container__writeForm{
    padding: 4% 0;
}

.TITLE{
    margin-bottom: 30px;
    text-align: left;
}

.write__wrapper > form{
    overflow: hidden;
}

/* OPTION */
.opt-wrapper{
    width: 100%;
    border-bottom: 1px solid var(--BG);
    margin-bottom: 30px;
    font-size: 0;
}

.opt-wrapper > #title{
    width: 80%;
    line-height: 30px;
    font-size: 18px;
    border: none;
    text-align: left;
}

.opt-wrapper > #cateselect{
    width: 20%;
    line-height: 30px;
    height: 30px;
    font-size: 15px;
    border: none;
    text-align: center;
}
.opt-wrapper > #cateselect > option{
    text-align: center;
}


/* THUMBNAIL */
.write__wrapper > form p {
    margin-top: 20px;
}

.thum{}


/* SUBMIT */
.write-submit{
    cursor: pointer;
    position: relative;
    float: right;
    clear: both;
    margin-top: 20px;
    padding: 5px 30px 3px 30px;
    font-size: 16px;
    background-color: var(--BG);
    color: #fff;
}



/* FROALA */

.fr-box.fr-basic .fr-element{
    min-height: 400px !important;
}