


/* DETAIL INFO */

/* info MOD */
.detail_info-mod{
    margin: 1% 0;
}

.mod-edit{color: var(--light);}
.mod-del{color: var(--warn);}

.detail_info-profile > div{
    display: inline-block;
}
.detail_info-profile > .profile-date{display: block;}
.detail_info-profile > .profile-moday{display: block;}

/* MAIN */
.detail_main{
    padding: 5% 0;
}

/* comment FORM */
.comment_form{}

.comment_form-text{
    width: 100%;
    height: 80px;
}

.comment_form-submit{
    cursor: pointer;
    float: right;
    width: 10%;
    line-height: 30px;
    font-size: 18px;
    margin-top: 1%;

    background-color: #fff;
    background-image: linear-gradient(0deg, var(--BG), var(--BG));
    background-size: 0;
    background-position: center;
    background-repeat: no-repeat;

    border-bottom: 2px solid var(--BG) !important;

    transition: all .3s;
}
.comment_form-submit:hover{
    color: #fff;
    background-size: 100%;
}